{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
        <h1>{% trans %}Gestionar proyectos{% endtrans %}</h1>
      </div>  
      <div class="page-content">
          <table id="datetable">
              <thead>
              <tr>
                <th>{%trans%}Nombre{%endtrans%}</th>                
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% for project in projects %}
              <tr>
                  <td> {{project.name}} </td>
                  <td>
                      <a href="{{ path('iw_easy_survey_edit_project', {'id': project.id})}}"> Modificar </a> |
                      <a href="{{ path('iw_easy_survey_delete_project', {'id': project.id})}}" onclick="return confirm('¿Esta seguro? Si borra el proyecto perderá todos los cuestionarios y datos asociados a ellos')"> Borrar </a> |
                      <a href="{{ path('iw_easy_survey_collaborator', {'id': project.id})}}"> Colaboradores </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
          <a href="{{ path('iw_easy_survey_create_project' )}}"> {% trans %}Nuevo{% endtrans %} </a>
      </div>
{% endblock %}