{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
          <h1>{% trans %}Respuesta de la instancia{% endtrans %}</h1>
      </div>  
      <div class="page-content">  
          <h4><b>{% trans %}Instancia{% endtrans %}:</b> {{ instanceName }}</h4>
          <h4><b>{% trans %}Cuestionario{% endtrans %}:</b> {{ quizName }}</h4>
          <table id="datetable">
            <thead>
              <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Pregunta{% endtrans %}</th>
                <th>{% trans %}Tipo{% endtrans %}</th>
                <th>{% trans %}Respuestas{% endtrans %}</th>
              </tr>
            </thead>
          <tbody>
              {% for data in values %}
                  <tr>
                      <td> {{data.id}} </td>
                      <td> {{data.question}} </td>
                      <td> {{data.type}} </td>
                      <td> 
                          {% if data.idType < 2 %}
                            {{data.body}} 
                          {% else %}
                                {% for aux in data.body %}
                                    {{aux.text}} <br>
                                {% endfor %}                            
                          {% endif %}
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>                  
      </div>  
{% endblock %}