{% extends "AhvegaHomeBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>Web de ahvega</h1>
      </div>
      
      <div class="page-users">
          <h1>Añadir un usuario</h1>
          <form action="{{ path('ahvegahome_editUser') }}" method="post">
            <input type="hidden" id="id" name="id" value="{{user.id}}">  
            <p>{% trans %}Nombre{% endtrans %}:<br> <input type="text" id="firstname" name="firstname" value="{{user.firstname}}"></p>
            <p>{% trans %}Apellidos{% endtrans %}:<br> <input type="text" id="lastname" name="lastname" value="{{user.lastname}}"></p>
            <p>{% trans %}Email{% endtrans %}:<br> <input type="text" id="email" name="email" value="{{user.email}}"></p>
            <p>{% trans %}Username{% endtrans %}:<br>  <input type="text" id="username" name="username" value="{{user.username}}"></p>
            <p>{% trans %}Password{% endtrans %}:<br> <input type="text" id="password" name="password" value="{{user.password}}"></p>
            <div class="btnAccionGeneral">
                <input id="send" name="send" class="boton" type="submit" value="{% trans %}Editar{% endtrans %}">
            </div>
        </form>
      </div>
{% endblock %}