{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
        <h1>{% trans %}Modificar opciones{% endtrans %}</h1>
      </div>  
      
      <div class="page-content">
          <h2>{{ question.name }}</h2>
          <table id="datetable">
              <thead>
              <tr>
                  <th>Opcion</th>
                  <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              {% for data in options %}
              <tr>
                  <td>{{data.text}}</td>
                  <td>
                    <a href="{{ path('iw_easy_survey_edit_option', {'id': data.id})}}"> {% trans %}Editar{% endtrans %} </a> |
                    <a href="{{ path('iw_easy_survey_delete_option', {'id': data.id})}}" onclick="return confirm('¿Esta seguro?')"> {% trans %}Borrar{% endtrans %} </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
              <tr><td colspan="2"><a href="{{ path('iw_easy_survey_add_option', {'id': id})}}"> {% trans %}Añadir opción{% endtrans %} </a></td></tr>
          </table>
      </div>
      
{% endblock %}