{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
        <h1>{% trans %}Gestionar encuestas{% endtrans %}</h1>
      </div>  
      <div class="page-content">            
        <b>{% trans %}Filtro por proyecto{% endtrans %}</b> :
        <select name="menu" onChange="window.document.location.href=this.options[this.selectedIndex].value;" value="GO">
            {% for project in projects %}
                <option value="{{ path('iw_easy_survey_manage_quiz',{'id': project.id})}}" {% if project.id == actual_project %} selected {% endif %}> {{project.name}} </option>
            {% endfor %}
        </select>
        <br>  
        <br>  
        <table id="datetable">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Propietario</th>
                <th>Proyecto</th>
                <th></th>
              </tr>
            </thead>
          <tbody>
              {% for data in quiz %}
                  <tr>
                      <td> {{data.name}} </td>
                      <td> {% if app.session.get('username')==data.username %} <b> {% endif %}  {{ data.username }} {% if app.session.get('username')==data.username %} </b> {% endif %} </td>
                      <td> {{data.project}} </td>
                      <td> 
                          {% if data.edit %}
                                <a href="{{ path('iw_easy_survey_edit_quiz', {'id': data.id})}}"> {% trans %}Modificar{% endtrans %} </a> |
                                <a href="{{ path('iw_easy_survey_delete_quiz', {'id': data.id})}}" onclick="return confirm('¿Esta seguro?')"> {% trans %}Borrar{% endtrans %} </a> |
                                <a href="{{ path('iw_easy_survey_manage_questions', {'id': data.id})}}"> {% trans %}Gestionar preguntas{% endtrans %} </a> |
                          {% endif %}
                          {% if data.instanciable %}
                                <a href="{{ path('iw_easy_survey_generate_instance', {'id': data.id})}}"> {% trans %}Instanciar{% endtrans %} </a>
                          {% endif %}
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
        <br>
        <a href="{{ path('iw_easy_survey_create_quiz')}}">Nuevo</a>
      </div>
{% endblock %}