{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
        <h1>{% trans %}Gestionar encuestas{% endtrans %}</h1>
      </div>  
      <div class="page-content">  
          {% if quiz is empty %}
              {% trans %}No hay datos{% endtrans %}
          {% else %}
          <table id="datetable">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              {% for data in quiz %}
              <tr>
                  <td> {{data.name}} </td>
                  <td> 
                      <a href="{{ path('iw_easy_survey_edit_quiz', {'id': data.id})}}"> {% trans %}Editar{% endtrans %} </a> |
                      <a href="{{ path('iw_easy_survey_delete_quiz', {'id': data.id})}}" onclick="return confirm('¿Esta seguro?')"> {% trans %}Borrar{% endtrans %} </a> |
                      <a href="{{ path('iw_easy_survey_manage_questions', {'id': data.id})}}"> {% trans %}Gestionar preguntas{% endtrans %} </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
          {% endif %}
          <br>
          <a href="{{ path('iw_easy_survey_create_quiz')}}">Nuevo</a>
      </div>
{% endblock %}